body {
  width: 1280px;
background-color: #F2F2F2;
}

.welcome {
  background-color: #83B3D3;
  background-image: url("../image/index-background-welcome-sedona.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
}

.subscription {
  background-color: #83B3D3;
  background-image: url("../image/index-background-subscription.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
}

.main-filter-catalog {
  background-color: #83B3D3;
  background-image: url("../image/catalog/catalog-background-filte.jpg");
  background-size: 1200px 408px;
  background-repeat: no-repeat;
}
