@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 1200px;
  margin: 0 auto;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*Heder*/
.main-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-logo_sedona {
  order: -1;
}

.navigation-list,
.navigation-user {
  margin: 0;
  padding: 0;
  max-width: 520px;
}

.navigation-list {
  order: -2;
}

.navigation-item {
  display: inline;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.button.navigation-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
}

/*Главная*/
.main-index {
  flex-grow: 1;
}

.welcome {
  display: flex;
  flex-direction: column;
  background-color: #83b3d3;
  background-image: url("../image/index-background-welcome-sedona.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  align-items: center;
}

.welcome h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
}

.welcome p {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #ffffff;
}

.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item {
  min-width: 400px;
  background-color: #e6f0f6;
  list-style-type: none;
}

.block-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
}

.wrapper-block-img {
  margin: auto;
}

.block-text:nth-of-type(2n+1) {
  background-color: #f0f6fa;
}

.advantages-add-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  background-color: #ffffff;
}

.advantages-add-item {
  min-width: 400px;
}

.advantages-add-item:nth-of-type(2n+1) {
  background-color: #f0f6fa;
}

.block-img h3 {
  color: #ffffff;
}

.advantages-add-item h3 {
  color: #000000;
}

.advantages-add-item p {
  color: #333333;
}

.advantages-link {
  text-decoration: none;
}

.search {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-link {
  margin: 0 auto;
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
}

.subscription {
  display: flex;
  flex-direction: column;
  background-color: #83b3d3;
  background-image: url("../image/index-background-subscription.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {
  display: flex;
  margin: 0 auto;
}

.subscription-button {
  width: 200px;
  height: 61px;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}

/*Footer*/
.page-footer {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
}

.footer-social {
  max-width: 240px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: inline;
  list-style-type: none;
  background-repeat: no-repeat;
}

.scl-twitter {
  background-image: url("../image/footer/footer-social-twitter.svg");
  background-size: 18px 15px;
}

.scl-facebook {
  background-image: url("../image/footer/footer-social-facebook.svg");
  background-size: 10px 18px;
}

.scl-youtube {
  background-image: url("../image/footer/footer-social-youtube.svg");
  background-size: 20px 16px;
}

.footer-contacts {
  min-width: 720px;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-align: center;
}

.footer-contacts-phone {
  color: #000000;
  text-decoration: none;
}

.footer-logo_htmlacademy {
  max-width: 240px;
}

/*Каталог*/
.main-filter-catalog {
  background-color: #83b3d3;
  background-image: url("../image/catalog/catalog-background-filte.jpg");
  background-size: 1200px 408px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.main-catalog-title {
  width: 528px;
  margin-left: 71px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  min-width: 135px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: inline;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-catalog-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.filter-catalog-list {
  margin: 0;
  padding: 0;
}

.filter-catalog-item {
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.filter-catalog {
  display: flex;
}

.filter-catalog-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-catalog-infrastructure {
  min-width: 150px;
  margin-left: 71px;
}

.filter-catalog-housing {
  min-width: 145px;
  margin-left: 67px;
}

.filter-catalog-price {
  width: 287px;
  margin-left: auto;
}

.button-filter-group {
  width: 160px;
  margin-right: 72px;
  margin-left: 81px;
}


.button-filter-submit {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  background-color: #83b3d3;
}

.button-filter-reset {
  width: 160px;
  height: 23px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-transform: none;
  border: none;
  background-color: transparent;
}

.main-sorting-catalog {
  display: flex;
  max-width: 1057px;
  background-color: #ffffff;
}

.quantity-catalog {
  min-width: 340px;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-type-catalog summary {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 287px;
  margin-right: 81px;
  font-size: 18px;
  line-height: 23px;
}

.button-rectangles {
  background-image: url("../image/catalog/catalog-sorting-rectangles.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}

.button-card {
  background-image: url("../image/catalog/catalog-sorting-card.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}

.button-list {
  background-image: url("../image/catalog/catalog-sorting-list.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
}

.product-catalog {
  display: flex;
  flex-direction: column;
  width: 1057px;
  margin: 0 auto;
  background-color: #ffffff;
}

.product-list-catalog {
  margin: 0;
  padding: 0;
}

.product-card-catalog {
  list-style-type: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-type,
.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #000000;
}

.details-card-button {
  background-color: #756257;
}

.favorites-card-button {
  background-color: #83b3d3;
}

.button.product-current {
  background-color: #7db54f;
}

.rating-product-card {
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-align: center;
}

.product-show-more {
  width: 625px;
  height: 55px;
  margin: 0 auto;
  background-color: #83b3d3;
  border-radius: 4px;
  border-color: #83b3d3;
}

.pagination {
  display: flex;
  justify-content: space-between;
  max-width: 1056px;
  background-color: #ffffff;
}

.pagination-list-catalog {
  min-width: 370px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  background-color: #83b3d3;
  text-align: center;
  list-style-type: none;
  display: inline;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
}

.pagination-list-catalog li:first-child {
  background-color: #f2f2f2;
}

.pagination-current {
  color: #000000;
}

.pagination-cards-quantity {
  margin-left: auto;
  font-size: 18px;
  line-height: 23px;
}

.pagination-sorting-quantity summary {
  font-size: 18px;
  line-height: 23px;
}


.subscription.catalog {
  background-image: none;
  background-color: #ffffff;
  color: #333333;
}

.subscription-title.catalog {
  color: #000000;
}
